<div
  class="project-container flex flex-col items-start justify-start w-full lg:w-[47.5%] h-fit bg-black/30 backdrop-blur-lg rounded-lg shadow-lg border border-white/20"
>
  <!-- Imagen del proyecto -->
  <img
    src="https://colorlib.com/wp/wp-content/uploads/sites/2/free-dashboard-templates-1.jpg"
    alt="Imagen del proyecto"
    class="w-full h-48 object-cover rounded-lg mb-4"
  />

  <div class="p-6">
    <!-- Título del proyecto -->
    <h3 class="text-2xl font-semibold text-white mb-2">Dashboard Admin</h3>

    <!-- Descripción del proyecto -->
    <p class="text-gray-300 mb-4">
      Este es un proyecto donde se implementa un dashboard administrativo con
      funcionalidades avanzadas.
    </p>

    <!-- Lista de tecnologías -->
    <ul class="w-full flex flex-wrap gap-2 justify-start">
      <li class="bg-gray-800 text-gray-300 px-3 py-1 rounded-full text-sm">
        NextJS
      </li>
      <li class="bg-gray-800 text-gray-300 px-3 py-1 rounded-full text-sm">
        Tailwind
      </li>
      <li class="bg-gray-800 text-gray-300 px-3 py-1 rounded-full text-sm">
        Shadcn/ui
      </li>
      <li class="bg-gray-800 text-gray-300 px-3 py-1 rounded-full text-sm">
        NodeJS
      </li>
      <li class="bg-gray-800 text-gray-300 px-3 py-1 rounded-full text-sm">
        PostgreSQL
      </li>
      <li class="bg-gray-800 text-gray-300 px-3 py-1 rounded-full text-sm">
        Oracle Cloud
      </li>
    </ul>

    <ul class="w-full flex flex-wrap gap-2 justify-start mt-4">
      <li>
        <a
          href="#"
          class="bg-[#00ADD2] text-white px-4 py-2 rounded-lg text-sm font-semibold hover:bg-[#0099b0] transition duration-300 ease-in-out"
        >
          Ver en vivo
        </a>
      </li>
      <li>
        <a
          href="#"
          class="bg-[#FF6C39] text-white px-4 py-2 rounded-lg text-sm font-semibold hover:bg-[#e55b29] transition duration-300 ease-in-out"
        >
          Ver repositorio
        </a>
      </li>
    </ul>
  </div>
</div>

<style>
  .project-container {
    overflow: hidden;
  }

  .project-container:hover img {
    transform: scale(1.2);
    transition: 300ms;
  }
</style>
