---
import Card from "./Card.astro";
---

<section
  class="text-white flex flex-col items-center lg:items-start justify-center min-h-screen w-full"
>
  <h2 class="text-3xl font-medium mb-6 tracking-wide">Proyectos</h2>
  <p class="font-light mb-6 text-lg text-white">
    En esta sección, te presento las áreas clave en las que tengo experiencia y
    en las que continúo desarrollando mis habilidades. Cada categoría representa
    una parte fundamental de mi perfil profesional:
  </p>
  <div class="gap-5 w-full flex flex-wrap justify-between">
    <Card />
    <Card />
  </div>
</section>
