---
import Card from './Card.astro';
---

<section
  class="text-white flex flex-col items-center lg:items-start justify-center lg:justify-start min-h-screen lg:h-fit py-10 w-full"
>
  <h2 class="text-3xl font-medium mb-6 tracking-wide">Proyectos</h2>
  <p class="font-light mb-6 text-lg text-white">
    Aquí encontrarás una selección de proyectos en los que he trabajado,
    aplicando mis conocimientos para enfrentar desafíos reales. Quiero destacar
    dos de mis proyectos más recientes y significativos:
  </p>
  <div class="gap-5 w-full flex flex-wrap justify-between">
    <Card
      img_src="https://colorlib.com/wp/wp-content/uploads/sites/2/free-dashboard-templates-1.jpg"
      title="Dashboard Admin"
      technologies={['NextJS', 'Postgre']}
      description="Este es un proyecto donde se implementa un dashboard administrativo con funcionalidades avanzadas."
    />
    <Card
      img_src="https://colorlib.com/wp/wp-content/uploads/sites/2/free-dashboard-templates-1.jpg"
      title="Blog personal"
      technologies={['NextJS', 'Postgre']}
      description="Una plataforma de blog personal que muestra mi capacidad para desarrollar interfaces atractivas y funcionales, mientras comparto mis conocimientos y experiencias."
    />
  </div>
</section>
