---
import Card from "./Card.astro";
---

<section class="py-6 text-white w-full min-h-screen">
  <h2 class="text-3xl font-bold mb-6 tracking-wide">Proyectos</h2>
  <p class="mb-6 text-lg text-white">
    En esta sección, te presento las áreas clave en las que tengo experiencia y
    en las que continúo desarrollando mis habilidades. Cada categoría representa
    una parte fundamental de mi perfil profesional:
  </p>
  <div class="gap-5 w-full flex flex-wrap justify-between">
    <Card />
    <Card />
  </div>
</section>
