---
import Glow from "../Glow.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro"
---

<section class="text-white flex flex-col items-center justify-center h-fit w-full">
    <Glow />
    <h1 class="text-5xl text-white mx-auto">Hola, <span class="text-[#00ADD2]">soy Manuel Imfeld</span></h1>
    <h2 class="text-4xl text-gray-400 mx-auto">Desarrolador web</h2>
    <ul class="flex">
        <li><a href="https://www.linkedin.com/in/manuimfeld/"><Linkedin /></a></li>
        <li><a href="https://github.com/manuimfeld"><Github /></a></li>
    </ul>
    <p></p>
</section>