---
import Glow from "../GlowTop.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
---

<section
  class="relative text-white flex flex-col items-center lg:items-start justify-center min-h-screen w-full"
>
  <Glow />
  <h1 class="text-4xl sm:text-5xl lg:text-6xl text-white mb-4 text-center">
    Hola, <span class="text-[#00ADD2]">soy Manuel Imfeld</span>
  </h1>
  <h2 class="text-2xl sm:text-3xl lg:text-4xl text-gray-400 mb-8 text-center">
    Desarrollador Web
  </h2>
  <ul class="flex space-x-6 mb-8">
    <li>
      <a href="https://www.linkedin.com/in/manuimfeld/" target="_blank"
        ><Linkedin /></a
      >
    </li>
    <li>
      <a href="https://github.com/manuimfeld" target="_blank"><Github /></a>
    </li>
  </ul>
  <p></p>
</section>
