<li>
  <p class="mt-2 text-lg text-gray-600">NodeJS</p>
</li>
<li>
  <p class="mt-2 text-lg text-gray-600">ExpressJS</p>
</li>
<li>
  <p class="mt-2 text-lg text-gray-600">PostgreSQL</p>
</li>
<li>
  <p class="mt-2 text-lg text-gray-600">MongoDB</p>
</li>

<style>
  li p {
    width: fit-content;
    display: inline-block;
  }
</style>
