---
import Html from "../icons/Html.astro";
import Css from "../icons/Css.astro"
import Js from "../icons/Js.astro"
---
    <Html />
    <Css />
    <Js />
<li>
    <p class="mt-2 text-lg text-gray-600">TypeScript</p>
</li>