---
import Card from './Card.astro';
import Frontend from './Frontend.astro';
import Backend from './Backend.astro';
import GlowTop from '../GlowTop.astro';
import Tools from './Tools.astro';
import CardTools from './CardTools.astro';
---

<section
  class="relative text-white flex flex-col items-center lg:items-start lg:justify-start min-h-screen lg:min-h-0 lg:h-fit w-full py-10"
>
  <GlowTop />
  <h2 class="font-medium text-3xl mb-6 tracking-wide">Habilidades</h2>
  <p class="font-light mb-6 text-lg text-white">
    En esta sección, te presento las áreas clave en las que tengo experiencia y
    en las que continúo desarrollando mis habilidades. Cada categoría representa
    una parte fundamental de mi perfil profesional:
  </p>
  <div class="gap-5 w-full flex flex-wrap justify-center lg:justify-between">
    <Card skills="Frontend">
      <Frontend />
    </Card>
    <Card skills="Backend">
      <Backend />
    </Card>
    <CardTools skills="Herramientas">
      <Tools />
    </CardTools>
  </div>
</section>
