---
import Card from './Card.astro';
import Frontend from './Frontend.astro';
import Backend from './Backend.astro';
import GlowTop from '../GlowTop.astro';
---

<section
  class="relative text-white flex flex-col items-center lg:items-start justify-center min-h-screen w-full"
>
  <GlowTop />
  <h2 class="font-medium text-3xl mb-6 tracking-wide">Habilidades</h2>
  <p class="font-light mb-6 text-lg text-white">
    En esta sección, te presento las áreas clave en las que tengo experiencia y
    en las que continúo desarrollando mis habilidades. Cada categoría representa
    una parte fundamental de mi perfil profesional:
  </p>
  <div class="gap-5 w-full flex flex-wrap justify-center lg:justify-between">
    <Card skills="Frontend">
      <Frontend />
    </Card>
    <Card skills="Backend">
      <Backend />
    </Card>
  </div>
</section>
