---
interface Props {
  name: string;
  text: string;
  border: string;
  background: string;
}

const { name, text, border, background } = Astro.props;
---

<span
  class={`absolute -top-1/2 -right-3/4 rounded-3xl h-fit w-fit px-4 py-2 border ${border} ${text} ${background}`}
>
  {name}
</span>
