<li>
    <p class="mt-2 text-lg text-gray-600">Git</p>
</li>
<li>
    <p class="mt-2 text-lg text-gray-600">Github</p>
</li>
<li>
    <p class="mt-2 text-lg text-gray-600">Postman</p>
</li>
<li>
    <p class="mt-2 text-lg text-gray-600">Figma</p>
</li>

<style>
    li p {
        width: fit-content;
        display: inline-block;
}
</style>