---
import CardPost from '../components/blog/CardPost.astro';
import GlowTop from '../components/GlowTop.astro';
import Layout from '../layouts/Layout.astro';

interface Frontmatter {
  title: string;
  description: string;
  date: string;
}
const posts = await Astro.glob<Frontmatter>('./post/*.md');
---

<Layout title="Blog">
  <section
    class="relative text-white flex flex-col items-center lg:items-start justify-start h-[calc(100vh_-_80px)] w-full"
  >
    <GlowTop />
    <h1 class="text-2xl my-4">Últimas publicaciones</h1>
    {
      posts.map((post) => {
        return (
          <CardPost
            title={post.frontmatter.title}
            date={post.frontmatter.date}
            img={post.frontmatter.img}
            url={post.url}
          />
        );
      })
    }
  </section>
</Layout>
