---
import Layout from "../../layouts/Layout.astro";
import Button from "./Button.astro";
---

<header
  class="sticky top-0 mb-5 px-[20vw] w-full h-16 bg-[#090C1A] bg-opacity-50 backdrop-blur-lg border-b border-gray-600"
>
  <ul class="flex h-full w-full justify-end items-center">
    <li class="w-fit h-fit mr-auto"><Button href="/" body="<Manuel Imfeld />"/></li>
    <li class="w-fit h-fit"><Button href="/" body="Portfolio"/></li>
    <li class="w-fit h-fit"><Button href="/blog" body="Blog" /></li>
  </ul>
</header>
