---
import Layout from '../../layouts/Layout.astro';
import Button from './Button.astro'
---
    <header class="mb-10 w-full h-16 max-w-full bg-gray-400 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border-b">
        <ul class="flex h-full w-full justify-end items-center">
            <li class="w-fit h-fit"><Button href="/" body="Inicio"/></li>
            <li class="w-fit h-fit"><Button href="/blog" body="Blog"/></li>
        </ul>
    </header>
