---
import Layout from '../../layouts/Layout.astro';
import Button from './Button.astro'
---


    <header class="px-8 mt-4 mb-10 mx-auto h-16 w-fit max-w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border">
        <ul class="flex h-full w-full justify-center items-center">
            <li class="w-fit h-fit"><Button href="/" body="Inicio"/></li>
            <li class="w-fit h-fit"><Button href="/sobre-mi" body="Sobre mí"/></li>
            <li class="w-fit h-fit"><Button href="/proyectos" body="Proyectos"/></li>
            <li class="w-fit h-fit"><Button href="/blog" body="Blog"/></li>
        </ul>
    </header>
