<span
  class="absolute -top-5 left-1/2 w-[40em] max-w-full h-[20em] rounded-[30%] block translate-50 blur-100 z-[-1]"
>
</span>

<style>
  span {
    background: radial-gradient(#c00bc080 20%, #d40fd480 100%);
    filter: blur(100px);
    transform: translateX(-50%);
  }
</style>
