<span class="absolute top-[15em]  left-1/2 w-[40em] max-w-full h-[20em] rounded-[30%] block translate-50 blur-100 z-[-1]">
</span>

<style>
    span {
        background: radial-gradient(#00ADD2aa 20%, #00ADD280 100%);
        filter: blur(100px);
        transform: translateX(-50%);
        
    }
</style>